<div [ngClass]="{'sender' : isSender()}">
  <span> {{ time | date:'dd.MM.yyyy HH:mm:ss'  }} </span>
  <br> <p> {{ message.message }} </p>
  <ng-container *ngIf="message.reiseID >= 0">
      <button mat-raised-button (click)="reiseAnzeigen()">Reise anzeigen</button>
      <button *ngIf="!requestAnswered" mat-raised-button color="primary" (click)="annehmen()">Annehmen</button>
      <button *ngIf="!requestAnswered" mat-raised-button color="warn" (click)="ablehnen()">Ablehnen</button>
  </ng-container>
</div>