<div>
  <table style="margin: auto">
    <tr>
      <td rowspan="3">
        <mat-icon class="profile-pic" (click)="showUserProfile()">account_circle</mat-icon>
        <br>
        <p style="cursor: pointer;" (click)="showUserProfile()" align="center"> {{ this.reise.fahrer | user }} </p>
      </td>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [(ngModel)]="reiseZeitpunkt" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <!-- <button mat-raised-button color="primary" (click)="gesamteReiseAnzeigen()">Gesamte Strecke</button> -->
      </td>
      <td rowspan="4">
        <agm-map id="map-canvas" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker *ngFor="let marker of paths" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
        </agm-map>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Start" [value]="reise.start" disabled>
        </mat-form-field>
        <!-- <mat-icon (click)="showStart()">map</mat-icon> -->
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Ziel" [value]="reise.ziel" disabled>
        </mat-form-field>
        <!-- <mat-icon (click)="showZiel()">map</mat-icon> -->
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="freie Plätze" [value]="freiePlaetze" disabled>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Preis" [value]="preis" disabled>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <mat-form-field class="beschreibung">
          <textarea matInput matAutosizeMaxRows="6" placeholder="Beschreibung" [value]="reise.beschreibung" disabled matTextareaAutosize></textarea>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="!isOwnReise">
      <td colspan="3" class="actions">
        <button mat-raised-button color="primary" (click)="contact()">Kontaktieren</button>
        <button mat-raised-button *ngIf="!isAngemeldet()" color="primary" (click)="anfragen()">Anfragen</button>
        <button mat-raised-button *ngIf="isAngemeldet()" color="warn" (click)="delete()">Abmelden</button>
      </td>
    </tr>
    <tr *ngIf="isOwnReise">
      <td colspan="3" class="actions">
        <button mat-raised-button color="primary" (click)="contact()">Alle kontaktieren</button>
        <button mat-raised-button color="warn" (click)="delete()">Reise absagen</button>
      </td>
    </tr>
  </table>
</div>

<div class="fixedActions">
  <img src="/assets/MapPin_black.svg" width="30px" height="30px" class="navIcon" (click)="pin()">
</div>