.messages {
    overflow: auto;
}

mat-form-field {
    width: 80%;
    float: left;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.send {
    margin-top: 25px;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

mat-card {
    height: 70vh;
}

mat-card-content {
    height: 80%;
}