<div>
  <table>
    <tr>
      <td>
        <mat-input-container>
          <input matInput type="password" placeholder="Aktuelles Passwort" [(ngModel)]="password" (keypress)="keypress($event.keyCode)">
        </mat-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <mat-input-container>
          <input matInput type="password" placeholder="Neues Passwort" [(ngModel)]="newPassword" (keypress)="keypress($event.keyCode)">
        </mat-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <mat-input-container>
          <input matInput type="password" placeholder="Neues Passwort wiederholen" [(ngModel)]="newPasswordSubmit" (keypress)="keypress($event.keyCode)">
        </mat-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <span *ngIf="changeFailed" class="error-message">{{ msgChangeFailed }}</span>
        <span *ngIf="newNotEqual" class="error-message">{{ msgNewNotEqual }}</span>
      </td>
    </tr>
  </table>
  <br>
  <div>
    <button mat-raised-button color="primary" (click)="changePassword()">Passwort ändern</button>
    <button mat-raised-button color="warn" (click)="cancel()">Abbrechen</button>
  </div>
</div>