<div>
    <table>
      <tr>
        <td>
          <mat-input-container>
            <input matInput placeholder="aktuelles Passwort" [(ngModel)]="actualpassword" (keypress)="keypress($event.keyCode)">
          </mat-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <mat-input-container>
            <input matInput type="password" placeholder="neues Passwort" [(ngModel)]="newpassword" (keypress)="keypress($event.keyCode)">
          </mat-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <mat-input-container>
            <input matInput type="password" placeholder="neues Passwort wiederholen" [(ngModel)]="repeatnewpassword" (keypress)="keypress($event.keyCode)">
          </mat-input-container>
        </td>
      </tr>
      <ng-container *ngIf="msgFailed">
        <tr>
          <td>
            <span class="error-message">{{ msgFailed }}</span>
          </td>
        </tr>
      </ng-container>
    </table>
    <br>
    <div>
      <button mat-raised-button color="primary" (click)="changePassword()">Passwort ändern</button>
      <button mat-raised-button color="primary" (click)="cancel()">Abbrechen</button>
    </div>
</div>