<div style="max-height: calc(100vh - 128px); overflow-y: auto">
  <table style="width:90%;margin-left:10%">
    <tr>
      <th>Start</th>
      <td>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="start" required>
        </mat-form-field>
        <button mat-button (click)="clickMapPunkt('start')">
          <mat-icon>map</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <th>Ziel</th>
      <td>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="ziel" required>
        </mat-form-field>
        <button mat-button (click)="clickMapPunkt('ziel')">
          <mat-icon>map</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <th>Zeitpunkt</th>
      <td>
        <mat-form-field>
          <input [min]="minDate" matInput [matDatepicker]="dpZeitpunkt" [(ngModel)]="zeitpunkt" disabled>
          <mat-datepicker-toggle matSuffix [for]="dpZeitpunkt"></mat-datepicker-toggle>
          <mat-datepicker #dpZeitpunkt disabled="false"></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Freie Plätze</th>
      <td>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="plaetzeMax" required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Maximaler Umweg (in KM)</th>
      <td>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="umwegMax" required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Preis (in Cent)</th>
      <td>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="preis" required>
        </mat-form-field>
      </td>
      <td></td>
    </tr>
    <tr>
      <th>Beschreibung</th>
      <td>
        <mat-form-field style="width:50%">
          <textarea matInput matTextareaAutosize type="text" [(ngModel)]="beschreibung"></textarea>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Strecke Anzeigen</th>
      <td>
        <button mat-button (click)="clickMapStrecke()">
          <mat-icon>map</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <hr>
  <table width="100%">
    <tr>
      <td colspan="2" style="text-align: center;">
        <button mat-raised-button color="success" style="width:20%" (click)="clickAnlegen()">
          Anlegen
        </button>
      </td>
    </tr>
  </table>
</div>