<mat-toolbar color="primary">
    <span>Padaca</span>

    <span class="fill-remaining-space"></span>

    <div *ngIf="isLoggedIn()">
        <img src="/assets/MapPin.svg" class="navIcon" width="30px" height="30px">
        <mat-icon class="navIcon">messages</mat-icon>
        <mat-icon class="navIcon">search</mat-icon>
        <mat-icon class="navIcon">add_circle_outline</mat-icon>
        <span class="user">{{ username }}</span>
        <mat-icon [matMenuTriggerFor]="menu3">more_vert</mat-icon>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item (click)="openChangePassword()">Passwort ändern</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        &nbsp;
    </div>

    <div class="user" *ngIf="!isLoggedIn()">
        <button mat-raised-button (click)="login()">Login</button>
    </div>
</mat-toolbar>