<div style="max-height: calc(100vh - 128px); overflow-y: auto">
  <!-- Ausgeloggt -->
  <ng-container *ngIf="!isLoggedIn()">
    <div class="left">
      <img src="/assets/PaDaCa.png" width="250px" height="250px" style="margin: 30px;">
    </div>
    <div class="right">
      <mat-card class="loggedOut">
        <mat-card-header>
          <h2>Was ist Padaca?</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Gemeinsam fahren mit PaDaCa ist die Zukunft des Reisens.</p>
            
            <p>Warum solltest du zuerst zu einem Bahnhof fahren, wenn deine Reise doch ganz in deiner Nähe losgehen kann?
              <br>Warum solltest du ins Stadtzentrum müssen, wenn du eigentlich an den Strand willst?
              <br>Warum solltest du allein in deinem Auto sitzen?</p>
            
            <p>Zusammen fahren bedeutet, dass Menschen gemeinsam in kleinen Gruppen reisen.
              <br>Das spart Zeit. Das spart Geld.
              <br>Und oft ist es die schönste Art dorthin zu kommen, wo man hin will.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="register()">Registrieren</button>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
  </ng-container>

  <!-- Eingeloggt -->
  <mat-card *ngIf="isLoggedIn()">
    <mat-card-content>
      <table style="width: 100%">
        <tr>
          <td colspan="6">
            <h3>Kommende Teilnahmen:</h3>
          </td>
        </tr>
        <tr *ngIf="teilnahmen.length == 0">
          <td colspan="6">
            <h4>Keine vorhanden</h4>
          </td>
        </tr>
        <tr *ngIf="teilnahmen.length > 0">
          <th>Datum</th>
          <th>Start</th>
          <th>Ziel</th>
          <th>Fahrer</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let teilnahme of teilnahmen" style="text-align: center">
          <td>{{teilnahme.zeitstempel | date:'dd.MM.yyyy' }}</td>
          <td>{{teilnahme.start}}</td>
          <td>{{teilnahme.ziel}}</td>
          <td>{{teilnahme.fahrer.username}}</td>
          <td>
            <button mat-raised-button color="primary" (click)="reiseAnzeigen(teilnahme)">
              <mat-icon>remove_red_eye</mat-icon> Anzeigen
            </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="6">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h3>Eigene Angebote:</h3>
          </td>
        </tr>
        <tr *ngIf="angebote.length == 0">
          <td colspan="6">
            <h4>Keine vorhanden</h4>
          </td>
        </tr>
        <tr *ngIf="angebote.length > 0">
          <th>Datum</th>
          <th>Start</th>
          <th>Ziel</th>
          <th>Fahrer</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let angebot of angebote" style="text-align: center">
          <td>{{angebot.zeitstempel | date:'dd.MM.yyyy' }}</td>
          <td>{{angebot.start}}</td>
          <td>{{angebot.ziel}}</td>
          <td>{{angebot.fahrer.username}}</td>
          <td>
            <button mat-raised-button color="primary" (click)="reiseAnzeigen(angebot)">
              <mat-icon>remove_red_eye</mat-icon> Anzeigen
            </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="6">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <h3>Archivierte Reisen:</h3>
          </td>
        </tr>
        <tr *ngIf="angebote.length == 0">
          <td colspan="6">
            <h4>Keine vorhanden</h4>
          </td>
        </tr>
        <tr *ngIf="archivierte.length > 0">
          <th>Datum</th>
          <th>Start</th>
          <th>Ziel</th>
          <th>Fahrer</th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let reise of archivierte" style="text-align: center">
          <td>{{reise.zeitstempel | date:'dd.MM.yyyy' }}</td>
          <td>{{reise.start}}</td>
          <td>{{reise.ziel}}</td>
          <td>{{reise.fahrer.username}}</td>
          <td>
            <button mat-raised-button color="primary" (click)="reiseAnzeigen(reise)">
              <mat-icon>remove_red_eye</mat-icon> Anzeigen
            </button>
          </td>
          <td>
            <button *ngIf="!isBewertet(reise)" mat-raised-button color="primary" (click)="bewerten(reise)">
              <mat-icon>star</mat-icon> Bewerten
            </button>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>