.link {
    cursor: pointer;
}

.loggedOut {
    margin-right: 30px;
    margin-top: 30px;
}

.left {
    width: 23%;
    float: left;
}

.right {
    width: 77%;
    float: left;
}

.buttons {
    width: 50%;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}